<launch>
  <arg name="debug" default="false" />
  <arg name="limited" default="false"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="unregister_timeout" value="28800" />
  </include>
  <include file="$(find compas_rrc_driver)/launch/bringup.launch">
    <arg name="bind_ip" value="0.0.0.0" />
    <arg name="robot_streaming_port" value="30101" />
    <arg name="robot_state_port" value="30201" />
  </include>
</launch>
