<launch>
    <arg name="robot_1_ns" default="robot_1" doc="Namespace for robot 1, all topics/services will be prefixed by it"/>
    <arg name="robot_1_ip" doc="IP of the controller for Robot 1" />
    <arg name="robot_1_streaming_port" default="30101" />
    <arg name="robot_1_state_port" default="30201" />

    <arg name="robot_2_ns" default="robot_2" doc="Namespace for robot 2, all topics/services will be prefixed by it"/>
    <arg name="robot_2_ip" default="$(arg robot_1_ns)" doc="IP of the controller for robot 2, defaults to match robot 1" />
    <arg name="robot_2_streaming_port" default="30102" />
    <arg name="robot_2_state_port" default="30202" />
    <arg name="sequence_check_mode" default="none" doc="Define sequence ID check mode. Supported: none|all|incoming|outgoing" />

    <group ns="$(arg robot_1_ns)">
        <include file="$(find compas_rrc_driver)/launch/bringup-common.launch">
            <arg name="robot_ip" value="$(arg robot_1_ip)" />
            <arg name="robot_streaming_port" value="$(arg robot_1_streaming_port)" />
            <arg name="robot_state_port" value="$(arg robot_1_state_port)" />
            <arg name="sequence_check_mode" value="$(arg sequence_check_mode)" />
        </include>
    </group>

    <group ns="$(arg robot_2_ns)">
        <include file="$(find compas_rrc_driver)/launch/bringup-common.launch">
            <arg name="robot_ip" value="$(arg robot_2_ip)" />
            <arg name="robot_streaming_port" value="$(arg robot_2_streaming_port)" />
            <arg name="robot_state_port" value="$(arg robot_2_state_port)" />
            <arg name="sequence_check_mode" value="$(arg sequence_check_mode)" />
        </include>
    </group>
</launch>
