<launch>
    <arg name="bind_ip" default="" doc="IP to bind the server socket to. If specified or if no robot_ip is specified, it will start RRC in server mode. If empty, it will bind to all interfaces." />
    <arg name="robot_ip" default="" doc="IP of the controller. If specified, it will start RRC in client mode." />
    <arg name="robot_streaming_port" default="30101" doc="Port of the streaming interface" />
    <arg name="robot_state_port" default="30201" doc="Port of the state interface" />
    <arg name="sequence_check_mode" default="none" doc="Define sequence ID check mode. Supported: none|all|incoming|outgoing" />
    <arg name="namespace" default="/" doc="Allows to define a namespace in order to connect to multiple robots. Defaults to root (ie /)." />

    <group ns="$(arg namespace)">
        <include file="$(find compas_rrc_driver)/launch/bringup-common.launch">
            <arg name="bind_ip" value="$(arg bind_ip)" />
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="robot_streaming_port" value="$(arg robot_streaming_port)" />
            <arg name="robot_state_port" value="$(arg robot_state_port)" />
            <arg name="sequence_check_mode" value="$(arg sequence_check_mode)" />
        </include>
    </group>
</launch>
