<launch>
    <arg name="robot_ip" doc="IP of the controller" />
    <arg name="sequence_check_mode" default="none" doc="Define sequence ID check mode. Supported: none|all|incoming|outgoing" />

    <group ns="robot_1">
        <include file="$(find compas_rrc_driver)/launch/bringup-common.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="robot_streaming_port" value="30101" />
            <arg name="robot_state_port" value="30201" />
            <arg name="sequence_check_mode" value="$(arg sequence_check_mode)" />
        </include>
    </group>

    <group ns="robot_2">
        <include file="$(find compas_rrc_driver)/launch/bringup-common.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="robot_streaming_port" value="30102" />
            <arg name="robot_state_port" value="30202" />
            <arg name="sequence_check_mode" value="$(arg sequence_check_mode)" />
        </include>
    </group>
</launch>
